$primary: #06c279;
$primarylite: #7AE0B9;
$black: #1b1b1b;
$white: #ffffff;
$gray: #717171;
$subprimary: #DAF6EB;
$bgcolor: #EEFFF9;
$linecolor: #CECECE;
$underline: #E0E0E0;
$golden: #FAB93C;
$carousel: #D7D7D7;
$input: #DDDDDD;
$inputtext: #BDBDBD;